    <section class="whyUs-section">

            <div class="whyUsImageContainer right">
                <img src="/images/class/class-students.jpg" alt="manish-image" height="200px">
            </div>
            <div class="whyUs-content">
                <h2 class="section-title">Why You Must Choose <br> Our School?</h2>
                <p>Enrolling in our school not only enables you to master the Sarangi but also empowers you to express your artistic identity, connect with a musical community, and contribute to the preservation of a revered musical tradition.<br><br></p>
                
                
                <div class="benifit-cart-container">
                    <div class="benefit">
                    <div class="benefit-details" onclick="toggleDetails(this)">
                        <span>01</span>
                        <h3 >Comprehensive Sarangi Mastery:</h3>
                        <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
                    </div>
                    <p class="hidden">At our school, we are committed to your journey in mastering the Sarangi. Through dedicated instruction and immersive hands-on practice, you'll forge a profound grasp of playing techniques, scales, and intricate melodies. Our experienced instructors offer personalized lessons, catering to your unique learning style and pace, ensuring you build a strong foundation in the fundamentals while delving into advanced Sarangi techniques.</p>
                </div>
                
                <div class="benefit">
                    <div class="benefit-details" onclick="toggleDetails(this)">
                        <span>02</span>
                        <h3>Artistic Expression and Creativity:</h3>
                        <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
                    </div>
                    <p class="hidden">Embark on a journey of emotional exploration with the Sarangi and harness your expressive capabilities. Our guidance will illuminate how to infuse your playing with feeling, transcending simple notes to craft captivating narratives. Immerse yourself in a vibrant community of Sarangi enthusiasts, where collaboration, idea exchange, and ensemble performances flourish. This environment nurtures creativity, amplifies your stage presence, and forges lasting musical connections that enrich your musical journey.</p>
                </div>
                
                <div class="benefit">
                    <div class="benefit-details" onclick="toggleDetails(this)">
                        <span>03</span>
                        <h3>Cultural Enrichment and Performance Opportunities:</h3>
                        <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
                    </div>
                    <p class="hidden">Immerse yourself in the Sarangi's rich cultural heritage through our curriculum, which delves deep into its history, cultural significance, and role across diverse music traditions. Elevate beyond the music itself as we nurture your stage presence, providing the platform to display your Sarangi talents both locally and globally. Our performance opportunities not only let you share your passion with a wider audience but also grant valuable exposure and experience in professional settings, solidifying your place within the Sarangi's vibrant legacy.</p>
                </div>
                </div>
                
                
            </div>
           
    </section>
