<div class="container">
    <div class="products-section">
        <h2 class="section-title">Our Products</h2>
        <div class="products-card-container">
            <div class="product-card">
                <img src="/images/products/sarangi1.png" alt="Sarangi 1" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Classic Sarangi</h3>
                    <p class="product-description">Handcrafted with traditional techniques, sarangi offers rich tones and playability.</p>
                    <p class="product-price">$1200</p>
                    <button  (click)="addToCart()" class="btn buyNow">Add to Cart</button> 
                </div>
                
            </div>
            <div class="product-card">
                <img src="/images/products/bansuri.png" alt="Bansuri" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Premium Bansuri</h3>           
                    <p class="product-description">Authentic bansuri crafted with natural materials, providing a warm and resonant sound.</p>
                    <p class="product-price">$800</p>
                    <button  (click)="addToCart()" class="btn buyNow">Add to Cart</button>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/products/madal.png" alt="Madal" class="product-image" >
                <div class="product-info">
                    <h3 class="product-name">Professional Madal</h3>
                    <p class="product-description">High-quality madal designed for both beginners and professional musicians.</p>
                    <p class="product-price">$1500</p>
                    <button  (click)="addToCart()" class="btn buyNow">Add to Cart</button>
                </div>  
            </div>
        </div>
    </div>
</div>