<div class="container" id="about-section">
    <div class="about-section">
        <h2>About Us</h2>
        <div class="about-desc-container">
            <div class="about-left">
                <p>With close to a decade of dedicated expertise as a professional Sarangi player, I have journeyed through the realms of music, both locally and internationally. Through the resonant strings of the Sarangi, I have woven musical tales that bridge cultures, emotions, and experiences, enriching the global sonic tapestry.</p>
                <ul>
                    <li><i class="fa-solid fa-check-double"></i>
<span>A Decade of Mastery:</span> I bring nearly 10 years of skillful mastery in playing the Sarangi, honing my craft to create captivating musical experiences.</li>
                    <li><i class="fa-solid fa-check-double"></i>
<span>Global Collaborations:</span> Having shared stages with top artists, I have contributed to diverse concerts, infusing each performance with the Sarangi's unique emotive depth.</li>
                    <li><i class="fa-solid fa-check-double"></i>
<span>Cultural Resonance:</span> My performances are a celebration of tradition and innovation, embodying the essence of the Sarangi while adapting it to contemporary musical expressions.</li>
                </ul>
            </div>
            <div class="about-right">
                <p>In this ever-evolving journey, I remain committed to unveiling the timeless allure of the Sarangi's melodies. Each note echoes the passion I hold for preserving and evolving this cherished musical legacy, inviting audiences worldwide to experience the transformative power of this remarkable instrument. Our team of professional Sarangi players embodies a shared passion for this timeless instrument, crafting captivating musical narratives that blend tradition with innovation.<br><br>With diverse experiences and unwavering dedication, we collaborate harmoniously, resonating with audiences worldwide and preserving the essence of the Sarangi's emotive melodies. Beyond our roles as skilled performers, we also bring a wealth of expertise to the role of educators, offering personalized instruction that nurtures aspiring learners on a transformative musical journey.</p>
                <button type="button" class="btn subBtn inquireNowBtn">Inquire Now</button>

            </div>
        </div>

    </div>
</div>
