.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: clamp(3rem, 8vw, 6rem) 5%;
    width: 100%;
    background: var(--bg-white);
    box-sizing: border-box;
}


.sectionTopLine {
    font-weight: 700;
    color: var(--accent-green);
    text-transform: uppercase;
    letter-spacing: 2px;
}


.section-content {
    width: 100%;
    max-width: 900px;
    text-align: center;
}


.section-content h2 {
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}


.section-content p {
    color: var(--text-muted);
    max-width: 800px;
    margin: auto;
}


.services-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: clamp(1rem, 3vw, 2rem);
    margin-top: 2rem;
}


.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: clamp(1rem, 2vw, 1.5rem);
    background: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 24px;
    box-shadow: rgba(0,0,0,.05) 0 15px 35px;
    transition: .35s ease;
    text-align: center;
}


.service-card:hover {
    transform: translateY(-8px);
    box-shadow: rgba(0,0,0,.12) 0 25px 45px;
}


.serviceTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: left;
}


.serviceTitle img {
    width: clamp(50px, 6vw, 60px);
    height: clamp(50px, 6vw, 60px);
    border-radius: 50%;
    padding: 0.7rem;
    background: rgba(255, 165, 0, .1) !important;
}


.services-cards-container .service-card:nth-child(1) img {
    background: rgb(225,245,225);
}

.services-cards-container .service-card:nth-child(2) img {
    background: rgb(223,223,238);
}

.services-cards-container .service-card:nth-child(3) img {
    background: rgb(244,226,226);
}

.services-cards-container .service-card:nth-child(4) img {
    background: rgb(240,239,222);
}
.services-cards-container .service-card:nth-child(5) img {
    background: rgb(228, 226, 244);
}

.services-cards-container .service-card:nth-child(6) img {
    background: rgb(190, 190, 187);
}


.service-card h3 {
    color: var(--text-dark);
}


.service-card p {
    color: var(--text-muted);
}


.serviceContact {
    width: 100%;
    margin-top: 2rem;
    padding: 14px 24px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: clamp(.9rem, 1vw, 1rem);
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: .3s ease;
}


.serviceContact:hover {
    transform: translateY(-3px);
}


@media(max-width:768px) {

    .serviceTitle {
        flex-direction: column;
    }

    .services-cards-container {
        grid-template-columns: 1fr;
    }

}