:host {
  display: block;
  flex: 1 1 0;
  min-width: 0;
}
.class-mgmt {
    flex: 1 1 0;
    height: max-content;
    min-width: 0;
    width: auto;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    position: relative;
    .card-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.8rem 1rem;
        border-bottom: 2px solid var(--border-color);
        h3{
            font-size: 1rem;
            color: var(--text-dark);
        }
        a{
             background-color: transparent;
                color: var(--text-link);
                font-size: 0.8rem;
                text-decoration: none;
                text-align: center;
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: 0.5px solid var(--text-link);
                cursor: pointer;
                &:hover{
                    background-color: var(--text-link);
                    color: white;
                }
        }
    }
}
.card-content{
        padding: 0;
        width: 100%;
        color: var(--text-dark);
        
        .table-header, .table-row{
            width: 100%;
            text-align: left;
            padding: 0.5rem;
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
            align-items: center;
            font-size: 0.8rem; 
        }
        .table-header {
            font-weight: 600;
            background: #f5f5f5;
            border-bottom: 2px solid #ddd;
            background-color: rgb(236, 240, 245);
        }

            .table-row {
                 border-bottom: 1px solid #eee;
                 &:last-child{
                    border-bottom: none;
                 }
                 .class{
                    background-color: rgb(226, 226, 244);
                    color: blue;
                    width: max-content;
                    padding: 0.1rem 0.4rem;
                    font-size: 0.9rem;
                    border-radius: 5px;
                 }
                 .product{
                    background-color: rgb(254, 242, 172);
                    color: rgb(248, 200, 7);
                    width: max-content;
                    padding: 0.1rem 0.4rem;
                    font-size: 0.9rem;
                    border-radius: 5px;
                 }
                 .actions{
                    display: flex;
                    gap: 0.5rem;
                    button{
                        background-color: transparent;
                        color: var(--text-link);
                        font-size: 0.8rem;
                        text-decoration: none;
                        text-align: center;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border: 0.5px solid var(--text-link);
                        cursor: pointer;
                        &:hover{
                            background-color: var(--text-link);
                            color: white;
                        }
                    }
                 }  
            }

            .table-row:hover {
                background: #f7f4ed;
            }
            .third{
                border-bottom: none;

            }
    }

    .view-all-btn{
        width: 100%;
                background-color: transparent;
                color: var(--text-link);
                font-size: 0.8rem;
                text-decoration: none;
                text-align: left;
                padding: 0.8rem;
                border-radius: 0.5rem;
                border: 0.5px solid var(--text-link);
                 display: none;
                cursor: pointer;
                &:hover{
                    background-color: var(--text-link);
                    color: white;
                }
                i{
                    font-size: 1.5rem;
                    margin-right: 0.5rem;
                }
            }
            .arrow{
                margin-left: auto;
                font-size: 1.5rem;
                color: var(--text-link);
            }
@media (max-width:768px) {
    .class-mgmt{
        height: auto;
        border: none;
    }
    .desk{
        display: none;
    }
    .view-all-btn{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: rgb(249, 249, 254);

    }
    
}