<div class="breadcrumb">
  <a routerLink="/dashboard">Dashboard</a>
  <span class="separator">›</span>
  <span class="current">Orders</span>
</div>

<div class="intro">
  <div class="title">
    <h3>Orders</h3>
    <p>View, track, and manage all customer orders from one place.</p>
  </div>
</div>

<div class="row">
  <div class="summary-card-container">
    <div class="summary-card">
      <div class="card-icon order">
        <i class="fa-solid fa-shopping-bag"></i>
      </div>

      <div class="card-content">
        <p>Enrollment</p>
        <p class="number">${{ enrollment_total }}</p>
      </div>
    </div>

    <div class="summary-card">
      <div class="card-icon revenue">
        <i class="fa-solid fa-sack-dollar"></i>
      </div>

      <div class="card-content">
        <p>Product Sales</p>
        <p class="number">${{ order_total }}</p>
      </div>
    </div>

    <div class="summary-card">
      <div class="card-icon student">
        <i class="fa-solid fa-user-group"></i>
      </div>

      <div class="card-content">
        <p>Total Student</p>
        <p class="number">{{ student_total }}</p>
      </div>
    </div>

    <div class="summary-card">
      <div class="card-icon product">
        <i class="fa-solid fa-kaaba"></i>
      </div>

      <div class="card-content">
        <p>Total Revenue</p>
        <p class="number">${{ total_revenue }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="order-summary-container">
    <div class="recent-order">
      <div class="card-title">
        <h3>Recent Orders</h3>
      </div>

      <!-- DESKTOP TABLE -->
      <div class="card-content desktop-view">
        <div class="table-header">
          <div>Order ID</div>
          <div>Customer</div>
          <div>Type</div>
          <div>Item</div>
          <div>Amount</div>
          <div>Status</div>
          <div>Date</div>
        </div>

        @for (order of orderList; track order._id) {
          <div class="table-row">
            <!-- Order ID -->
            <div class="order-id">#{{ order.orderId }}</div>

            <!-- Customer -->
            <div class="customer">
              {{ order.customerName }}
            </div>

            <!-- Type -->
            <div class="type">
              <p
                [ngClass]="{
                  class: order.type === 'Class',
                  product: order.type === 'Product',
                }"
              >
                {{ order.type }}
              </p>
            </div>

            <!-- Items -->
            <div class="items">
              @for (item of order.items; track $index) {
                <div class="item">
                  {{ item.itemName }}
                </div>
              }
            </div>

            <!-- Amounts -->
            <div class="amounts">
              @for (item of order.items; track $index) {
                <div class="amount">${{ item.totalPrice }}</div>
              }
            </div>

            <!-- Status -->
            <div class="status">
              <p [class]="order.paymentStatus?.toLowerCase()">
                {{ order.paymentStatus }}
              </p>
            </div>

            <!-- Date -->
            <div class="date">
              {{ order.createdAt | date: 'mediumDate' }}
            </div>
          </div>
        } @empty {
          <div class="empty-state">
            <app-loader></app-loader>
          </div>
        }
      </div>
    </div>
  </div>
</div>
