<div class="container">
    <div class="hero-section">
        <div class="hero-left">
            <div>
                <h1>Discover the Soulful <span> Sounds of the Sarangi</span></h1>
                <p>Comprising a Team of Accomplished Professional Sarangi Players Dedicated to Sharing the Artistry of this Timeless Instrument.</p>
                <div class="hero-btn-container">
                    <button type="button" class="btn mainBtn enrollNowBtn">Enroll Now</button>
                    <button type="button" class="btn subBtn watchVideosBtn">Watch Videos</button>
                </div>
            </div>
        </div>
         <div class="hero-right">
            <img src="/images/manish/manish.jpg" alt="manish">

        </div>

    </div>
</div>