<div class="hero-section">
  <div class="hero-left">
    <h1 class="appearSlow">Discover the Soulful <span> Sounds of Sarangi</span></h1>
    <p>
      Comprising a Team of Accomplished Professional Sarangi Players Dedicated to Sharing the
      Artistry of this Timeless Instrument.
    </p>
    <div class="hero-btn-container">
      <button type="button" class="btn mainBtn enrollNowBtn">
        Enroll Now <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </button>
      <button (click)="openVideo()" class="btn subBtn watchVideosBtn">Watch Videos</button>
    </div>
  </div>
  <div class="hero-right">
    <img src="/images/manish/manish.webp" alt="manish" />
  </div>
</div>

@if (isVideoOpen) {
  <div class="video-modal" (click)="outsideClick($event)">
    <div class="video-box" (click)="$event.stopPropagation()">
      <button type="button" class="close-btn" (click)="closeVideo()" aria-label="Close video">
        ×
      </button>

      <iframe
        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F2479148619206937%2F&show_text=false&width=267&t=0"
        width="100%"
        height="100%"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"
        title="Sarangi performance video"
      >
      </iframe>
    </div>
  </div>
}
