    <section class="call-to-action-section">
        <div class="call-to-action-section-content">
            <div class="cta-content">
                <h3>Ready to Begin Your Sarangi Journey?</h3>
                <p>Connect with us for a personalized consultation about our classes and comprehensive services. Discover the world of Sarangi music and take the first step towards mastering this enchanting instrument.
                    Let's embark on a musical adventure together!</p>
            
                <div class="cta-buttons">
                    <button class="btn ctaBtn" onclick="window.location.href='/#contact'">Inquire Now</button>
                </div>
            </div>
         

        </div>
    </section>
