<div class="container" id="faq-section">
    
<div class="faq-section" id="faq">
    <div class="section-content">
        <h3 class="section-title">FREQUENTLY ASKED QUESTIONS</h3>
        <p>Explore our comprehensive FAQ section to find answers to common queries about our Sarangi classes, services, and more. If you have additional questions, feel free to reach out to us for personalized assistance.</p>
    </div>
    <div class="faq-cards-container">

        <div class="faq">
            <div class="faq-details" onclick="toggleDetails(this)">
                <span class="faq-number">01</span>
                <h3 class="faq-title">Who can join your Sarangi classes?</h3>
                <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
            </div>
            <p class="hidden">Our Sarangi classes are designed for individuals of all skill levels, from absolute beginners to advanced players. Whether you're new to music or have prior experience, we have classes tailored to your needs.</p>
        </div>
        
        <div class="faq">
            <div class="faq-details" onclick="toggleDetails(this)">
                <span class="faq-number">02</span>
                <h3 class="faq-title">Do I need to own a Sarangi to start classes?</h3>
                <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
            </div>
            <p class="hidden">While having your own Sarangi can be beneficial, it's not a requirement to start our classes. We offer guidance on selecting an instrument and can provide recommendations based on your needs and budget.</p>
        </div>
        
        <div class="faq">
            <div class="faq-details" onclick="toggleDetails(this)">
                <span class="faq-number">03</span>
                <h3 class="faq-title">Are online classes available?</h3>
                <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
            </div>
            <p class="hidden">Yes, we offer online Sarangi classes for those who prefer remote learning. Our virtual lessons provide a convenient and effective way to learn from the comfort of your own space.</p>
        </div>
        <div class="faq">
            <div class="faq-details" onclick="toggleDetails(this)">
                <span class="faq-number">03</span>
                <h3 class="faq-title">What performance opportunities do you offer?</h3>
                <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
            </div>
            <p class="hidden">We provide various performance opportunities throughout the year, including recitals, showcases, and collaborative events. These platforms allow students to showcase their progress and gain valuable experience performing in front of an audience.

            </p>
        </div>
        <div class="faq">
            <div class="faq-details" onclick="toggleDetails(this)">
                <span class="faq-number">04</span>
                <h3 class="faq-title">How do I schedule a consultation for your other services?</h3>
                <img src="/images/icons/downArrow.png" alt="arrow" width="25px">
            </div>
            <p class="hidden">To schedule a consultation for services like concert collaborations, studio recording, or custom music creation, simply reach out to us through our contact page or give us a call. We'll be happy to discuss your needs and tailor our services to your project.</p>
        </div>
    </div>
</div>

</div>