<section class="hero-section">
  <div class="hero-left">
    <div>
      <h1 class="appearSlow">Authentic Sounds <br /><span> Timeless Tradition</span></h1>
      <p>
        Explore our collection of handcrafted Nepali musical instruments. Each piece is carefully
        crafted by skilled artisans to preserve the soul of our cultural heritage.
      </p>
      <div class="hero-btn-container">
        <button (click)="shopNow()" class="btn subBtn shopNowBtn">Shop Now</button>
        <button type="button" class="btn mainBtn enrollNowBtn">More info</button>
      </div>
    </div>
  </div>
</section>
