.container{
    background: var(--bg-light);
    padding: 0 200px;
}
.whyUs-section{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    margin: 100px 0;
}
.whyUs-content{
    width: 60%;
}
.recognition-container{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: c;
    gap: 0.5rem;
    margin-top: 2rem;
}
.recognition-container div{
    border: 3px solid var(--text-muted);
    border-radius: 25px;
    width:200px;
    margin: 0 0 50px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    box-sizing: border-box;
    box-shadow:
        0 4px 12px rgba(240, 109, 1, 0.2),
        0 12px 32px rgba(246, 213, 2, 0.2);
}
.recognition-container div p{
    font-size: 0.8rem;
    color: var(--text-dark);
    font-weight: bold;
    padding: 0.5rem 1rem;
}
.whyUs-content h2{
    font-size: 3rem;
    color: var(--text-dark);
    margin-bottom: 50px;
    text-align: left;
}
.whyUs-content p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-dark);
    text-align: left;
    margin: 0;
    padding: 0;

}


.benefit{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2rem;
    gap: 1rem;
}
.benefit-details{
    display: flex;
    align-items: start;
    justify-content: left;
    gap: 1rem;
}
.benefit span,.benefit h3{
    font-size: 1.5rem;
    font-weight:bold;
    color: var(--text-dark);
}
.benefit-details span{
    color: rgb(241, 145, 1);
}
.benefit img{
    align-self: right;
    margin-left: auto;
}
.benefit p{
    font-size: 1.2rem;
    color: var(--text-dark);
}

.whyUsImageContainer{
    width: 40%;
    height: auto;
    background-color: grey;
    position: sticky;
    top: 100px;

}
.whyUsImageContainer img{
    width: 100%;
    height:auto;
}
