<div class="container"  id="services-section">
    <section class="services-section">
        <div class="section-content">
            <h2 class="section-title">Services</h2>
            <p class="section-description">Experience the Depth of Sarangi Expertise in a Range of Professional Endeavors. We offer tailored services to elevate your musical journey. Our mastery extends beyond classes to deliver exceptional results for your artistic endeavors.</p>

        </div>

        <div class="services-cards-container">
            <div class="service-card">
                <div class="serviceTitle">
                    <img src="/images/icons/distribution.png" width="60px">
                    <h3>Concert Collaborations</h3>
                </div>
                <p>Elevate your concert experience with the ethereal sound of the Sarangi. Whether it's a solo performance or collaboration with other artists, our Sarangi expertise adds a touch of uniqueness to your musical event, creating a memorable and enchanting atmosphere</p>
                <button type="button" class="btn serviceContact">Contact Now</button>

            </div>
            <div class="service-card">
                <div class="serviceTitle">
                    <img src="/images/icons/studio.png" width="60px">
                    <h3>Studio Recording</h3>
                </div>
                <p>Transform your recordings with the soulful tones of the Sarangi. Whether it's a film score, an album track, or a fusion experiment, the Sarangi's emotive qualities lend a captivating layer to your compositions, elevating the overall audio experience.</p>
                <button type="button" class="btn serviceContact">Contact Now</button>
            </div>
            <div class="service-card">
                <div class="serviceTitle">
                    <img src="/images/icons/musical-notes.png" width="60px">
                    <h3>Music Creation</h3>
                </div>
                
                <p>Infuse your music creations with the allure of the Sarangi. From creating evocative soundscapes for visual media to crafting unique compositions for special occasions, our Sarangi expertise adds a distinctive flavor that resonates with listeners, making your music truly stand out.</p>
                <button type="button" class="btn serviceContact">Contact Now</button>
            </div>
            <div class="service-card">
                <div class="serviceTitle">
                    <img src="/images/icons/rent.png" width="60px">
                    <h3>Sarangi Rentals</h3>
                </div>
                <p>Tailored for advanced players and enthusiasts, our Sarangi rental service provides access to this exquisite instrument. Enhance your musical journey by renting a Sarangi and experiencing its resonant beauty firsthand.</p>
                <button type="button" class="btn serviceContact">Contact Now</button>
            </div>

        </div>

    </section>
</div>