 <section class="our-team-section" id="team-section">
        <div class="section-content">
            <p class="sectionTopLine">Meet our team</p>
            <h2 class="section-title">Our Team</h2>
            <p class="section-description">Discover the Profound Expertise of Our 
                Sarangi Maestros as they Excel in Various Professional Endeavors.
                 Our mastery extends beyond
                    classes to ensure exceptional results for your artistic endeavors.</p>
        </div>
        <div class="our-team-cards-container">
            <div class="our-team-card manishCard">
                <div class="team-img">
                    <img src="/images/team/manish-profile.png" width="150px">
                </div>
                <div class="team-detail ">
                    <h3>Manish Gandharva</h3>
                    <p class="position">Sarangi Maestro</p>
                    <span></span>
    
                    <p class="sayings"> Unveiling the realms of euphony, where every note resonates with stories untold, inspiring hearts beyond imagination.</p>
                    <ul class="social-media-links">
                        <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/meta.png" alt="meta-icon" width="25px"></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><img src="/images/icons/linkedin.png" alt="linkedin-icon" width="25px"></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/icons/twitter.png" alt="twitter-icon" width="25px"></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><img src="/images/icons/instagram.png" alt="instagram-icon" width="25px"></a></li>
                    </ul>
                </div>  
            </div>
            <div class="other-cards">
                 <div class="our-team-card">
                <div class="team-img">
                    <img src="/images/team/suzi-profile.png" width="150px">
                </div>
                <div class="team-detail">
                    <h3>Suzi Thapa</h3>
                    <p class="position">Class Coordinator</p>
                    <span></span>
    
                    <p class="sayings">Navigating the intricate harmonies of our musical journey, ensuring every step resonates with purpose.</p>
                    <ul class="social-media-links">
                        <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/meta.png" alt="meta-icon" width="25px"></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><img src="/images/icons/linkedin.png" alt="linkedin-icon" width="25px"></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/icons/twitter.png" alt="twitter-icon" width="25px"></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><img src="/images/icons/instagram.png" alt="instagram-icon" width="25px"></a></li>
                    </ul>
                </div>
            </div>
            <div class="our-team-card">
                <div class="team-img">
                    <img src="/images/team/nirma-profile.png" width="150px">
                </div>
                <div class="team-detail">
                    <h3>Nirma Shah</h3>
                    <p class="position">Executive Director</p>
                    <span></span>
    
                    <p class="sayings">Navigating the intricate harmonies of our musical journey, ensuring every step resonates with purpose.</p>
                    <ul class="social-media-links">
                        <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/meta.png" alt="meta-icon" width="25px"></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><img src="/images/icons/linkedin.png" alt="linkedin-icon" width="25px"></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/icons/twitter.png" alt="twitter-icon" width="25px"></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><img src="/images/icons/instagram.png" alt="instagram-icon" width="25px"></a></li>
                    </ul>
                </div>
            </div>
            <div class="our-team-card">
                <div class="team-img">
                    <img src="/images/team/reshma-profile.png" width="150px">
                </div>
                <div class="team-detail">
                    <h3>Reshma Gayak</h3>
                    <p class="position">Administrator</p>
                    <span></span>
                    <p class="sayings">Navigating the intricate harmonies of our musical journey, ensuring every step resonates with purpose.</p>
                    <ul class="social-media-links">
                        <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/meta.png" alt="meta-icon" width="25px"></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><img src="/images/icons/linkedin.png" alt="linkedin-icon" width="25px"></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/icons/twitter.png" alt="twitter-icon" width="25px"></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><img src="/images/icons/instagram.png" alt="instagram-icon" width="25px"></a></li>
                    </ul>
                </div>
              
            </div>/

            </div>
           
        </div>
 </section>   
