<div class="container" id="classes-section">
    <section class="classes-section" >
    <div class="section-content">
        <h2 class="section-title">Classes &amp; Pricing</h2>
        <p class="section-description">Discover a World of Musical Learning and Expression with our Range of Sarangi Classes. Whether you're a beginner or looking to enhance your skills, we have the perfect class for you.</p>
    </div>
    <div class="class-cards-container">
        <div class="class-card">
            <div class="class-details">
                <h3 class="class-title">Basic Sarangi Classes</h3>
                <h2 class="class-price"><span>Rs</span>2599</h2>
                <p class="class-duration">per month</p>
            </div>
            <div class="class-features">
                <ul>
                    <div class="class-description">
                        <i class='fas fa-check-double'></i>
                        <li>Introduction to Sarangi</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Fundamental Techniques</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Playing Basics</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Music Notation</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Rhythm Training</li>
                    </div>
                </ul>
            </div>
            <div class="class-action">
                <button class="btn enroll-button" onclick="window.location.href='/enroll'">Enroll Now</button>
            </div>
        </div>

        <div class="class-card inter">
            <div class="class-details">
                <h3 class="class-title">Intermediate Sarangi Skills</h3>
                <h2 class="class-price"><span>Rs</span>4599</h2>
                <p class="class-duration">per month</p>
            </div>
            <div class="class-features">
                <ul>
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Advanced Techniques</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Scale Exploration</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Complex Melodies</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Expressive Phrasing</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Improvisation</li>
                    </div>
                </ul>
            </div>
            <div class="class-action">
                <button class=" btn enroll-button inter" onclick="window.location.href='/enroll'">Enroll Now</button>
            </div>
        </div>

        <div class="class-card">
            <div class="class-details">
                <h3 class="class-title">Advanced Sarangi Mastery</h3>
                <h2 class="class-price"><span>Rs</span>6599</h2>
                <p class="class-duration">per month</p>
            </div>
            <div class="class-features">
                <ul>
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Classical Ragas</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Composition</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Extended Improvization</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Performance Confidence</li>
                    </div>
            
                    <div class="class-description">
                        <i class="fas fa-check-double" aria-hidden="true"></i>
                        <li>Expressive Mastery</li>
                    </div>
                </ul>
            </div>
            <div class="class-action">
                <button class="btn enroll-button " onclick="window.location.href='/enroll'">Enroll Now</button>
            </div>
        </div>
    </div>
</section>
</div>