<footer>
    <div class="footer">
        <div class="footer-heading">
            <h4>MANISH EDU</h4>
            <p>32 Panthi Street<br>
                Kathmandu, BG 535022<br>
                Nepal
            </p>
            <p><b>Phone: </b> +977 9846064685</p>
            <p><b>Email: </b> info_manishedu@example.com</p>
        </div>
    
    
        <div class="footer-heading footer-nav">
            <h4>Useful Links</h4>
          
               <ul>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a routerLink="/" fragment="about-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">About</a>
        </li>        
        <li>
            <a routerLink="/" fragment="classes-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Classes</a>
        </li>       
        <li>
            <a routerLink="/" fragment="services-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Services</a>
        </li>
        <li>
            <a routerLink="/" fragment="team-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Team</a>
        </li>
        <li>
            <a routerLink="/" fragment="faq-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">FAQ</a>
        </li>
        <li>
            <a routerLink="/" fragment="contact-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Contact</a>
        </li>
    </ul>
       
    
        </div>
    
    
        <div class="footer-heading footer-services">
            <h4>Our Services</h4>
            <ul class="li">

                <li><a routerLink="/" fragment="services-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Concert Collaborations</a></li>
                <li><a routerLink="/" fragment="services-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Studio Recording</a></li>
                <li><a routerLink="/" fragment="services-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Music Creation</a></li>
                <li><a routerLink="/" fragment="services-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Sarangi Rentals</a></li>
                <li><a routerLink="/" fragment="services-section" routerLinkActive="active" [routerLinkActiveOptions]="{ matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'exact' }">Music Classes</a></li>
            </ul>
        </div>
    
        <div class="footer-social">
            <h4>Our Social Networks</h4>
            <p>Explore our social networks for the latest updates, content, and insights.</p>
            <ul class="social-media-links">
                <li><a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/meta.png" alt="meta-icon" width="25px"></a></li>
                <li><a href="https://twitter.com/" target="_blank"><img src="/images/icons/linkedin.png" alt="linkedin-icon" width="25px"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="/images/icons/twitter.png" alt="twitter-icon" width="25px"></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><img src="/images/icons/instagram.png" alt="instagram-icon" width="25px"></a></li>
            </ul>
        </div>
    </div>
    </footer>