.container {
    padding: 20px 200px;
}

.cart-payment {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    scale: 0.9;

}

.customer-info {
    display: flex;
    gap: 3rem;
    width: 100%;
    flex: 2;
}
.custinfo{
    padding: 2rem 3rem;
    border-top: 5px solid var(--text-dark);
    border-bottom: 5px solid var(--text-dark);
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
}
.customer-info div {
    width: 100%;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    flex: 1;
    height: 100%;
 border-top: 5px solid var(--text-dark);
    border-bottom: 5px solid var(--text-dark);
    padding: 2rem 3rem;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;



}

.customer-info h3,
.cardInfo h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--text-dark);
    border-bottom: 1px dotted grey;
    padding-bottom: 1rem;
}

.fullname,
.contact-info,
.cityAndState,
.postcodeAndCountry {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.fname,
.lname,
.phone,
.email,
.city,
.state,
.postcode,
.country
 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    margin-bottom: 1rem;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.addressLine {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addresslines {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1rem;
    color: var(--text-dark);
}

input {
    height: 3rem;
    font-size: 1rem;
    color: var(--text-dark);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0.5px rgb(237, 233, 233);
    width: 100%;
    padding: 0 10px;
}

input:focus {
    outline: none;
    box-shadow: 0px 2px 8px 1px rgb(220, 220, 220);
}

select {
    height: 3rem;
    font-size: 1rem;
    color: var(--text-dark);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0.5px rgb(237, 233, 233);
    width: 100%;
    padding: 0 10px;
    background: white;
}

.cardholder-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.processToPaymentBtn {
   background-color: var(--text-dark);
   color: white;
}

.processToPaymentBtn:hover {
    transform: scale(1.02);
}
form{
    display: flex !important;
}
.expiryAndCvv{
    display: flex;
}
.termsAndCondition{
    display: flex;
    align-items: start;
    margin: 1rem 0;
    gap: 1rem;
}
.terms{
    margin: -5px;
}
i{
    margin: 0;
    padding: 0;
    color: green;
}